

.material-icons.addPostButton {

 	position: relative;
    left: 6px;
    width: 300px;
    top: 6px;

	/*margin-left: 7px;
	margin-top: 15px;
	margin-bottom: 15px;*/
	font-size: 36px;
}


.listSearchBar {
	float:right;
	font-size: 25px;	

}


.rightPanelButton {
	position: fixed; 
	top: 40%; 
	right:0; 
    background-color:rgb(238,238,238); 
    height:170px; 
    width:30px;
    transition: linear 0.2s
}

.rightPanelButton:hover{

    background-color:#DDDDDD; 
     transition: linear 0.2s
   
}

/*.listSearchBar.ng-valid.ng-dirty {
	border-color:#DFDFDF;
}
*/