

.material-icons.addPostButton {

 	position: relative;
    left: 6px;
    width: 300px;
    top: 6px;

	/*margin-left: 7px;
	margin-top: 15px;
	margin-bottom: 15px;*/
	font-size: 36px;
}


.listSearchBar {
	float:right;
	font-size: 25px;	

}

/*.listSearchBar.ng-valid.ng-dirty {
	border-color:#DFDFDF;
}
*/